{% extends "base.html" %}

{% block content %}
    <div><p>Load a trace by clicking the Load trace button.</p></div>
    <form action="{{ url_for('upload_trace') }}" method="post" enctype="multipart/form-data">
        <input type="file" id="myTrace" name="trace_file">
        <input type="submit">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
            {% for message in messages %}
                <p class=flashes>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}